#park{
    background-color:orange;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.a1{
padding-right: 150px;
}
.a2{
    padding-right: 90px;
    padding-bottom: 20px;
}
.y1{
    padding-top: 20px;
}
.y2{
    display: flex;
    flex-direction: row;
    padding-left: 620px;
    padding-top: 20px;
}
#g1{
    border: 2px solid skyblue;
    
}